
.reglamento{
    background-image: url(../../imagenes/corner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.reglamento_secciones{
    padding: 20px;
}

.reglamento_secciones-texto{
    width: 75%;
    padding: 20px 0px;
}